:root {
  --accent-color: #369ad4;
  --accent-white-color: #f9fbfd;
  --content-color: #d6dde7;

  --card-shadow: 5px 5px 5px #00000069;

  font-size: 1.3rem;
}

body { 
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

a:link {
  text-decoration: none;
}

li {
  margin-left: 1rem;
  list-style: none;
}

p, h1, ul {
  margin: 0;
  padding: 0;
}

button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  border: none;
  padding: 12px;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

button,
.sidebar {
  background-color: var(--accent-color);
  color: var(--accent-white-color);
}

.header,
.card {
  background-color: var(--accent-white-color);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.dashboard {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.dashboard p {
  font-size: 2rem;
}

li a {
  color: var(--accent-white-color);
  font-size: 1.5rem;
}

.dashboard, li {
  display: flex;
  align-items: center;
  gap: 25px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 3rem;
  gap: 1rem;
}

ul li.icon {
  color: var(--accent-white-color);
}

.icon:not(.dashboard-icon) {
  width: 50px;
}

.icon.dashboard-icon {
  width: 75px;
  color: var(--accent-white-color);
}

.main {
  display: grid;
  grid-template-rows: 300px 1fr;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-left: 3rem;
  padding-right: 3rem;
}

.first-line {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input.searchbar {
  flex: 1;
  height: 1.8rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: var(--content-color);
  border: 1px solid #bec6ce;
  border-radius: 15px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.second-line {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.introduction, .trending.card {
  display: flex;
  align-items: center;
}

.text, .user-text {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.content {
  background-color: var(--content-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-template-rows: repeat(auto-fill, minmax(300px, 400px));
  gap: 1.5rem;
}

.card {
  border-radius: 13px;
  padding: 1rem;
}

.project.card {
  position: relative;
  border-left: 13px solid #eeb539;
  height: 16rem;
}

.project.card p {
  max-height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project.icons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: inline flex;
  align-items: center;
  height: 3rem;
  gap: 1rem;
}

.announcements, .trending-cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1.5rem;
  background-color: var(--accent-white-color);
  border-radius: 13px;
}

.announcement {
  border-bottom: 2px solid var(--content-color);
  padding-bottom: 1.2rem;
}

.additional-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}